*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    margin: auto;
}

.width-20{
    width: 20%;
}

.width-30{
    width: 30%;
}

.width-40{
    width: 40%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.width-70{
    width: 70%;
}

.width-80{
    width: 80%;
}

.width-100{
    width: 100%;
}

.margin-top-5{
    margin-top: 5%;
}

.margin-top-10{
    margin-top: 10%;
}

.margin-top-20{
    margin-top: 20%;
}

.text-center{
    text-align: center;
}

/* colori */

.green{
    background-color: #a2d39b;
}

.bordeaux{
    background-color: #61082b;
}

.blue{
    background-color: #0d2481;
}

.light-blue{
    background-color: #0093ce;
}

.light-light-blue{
    background-color: #b4d0e7;
}

.red{
    background-color: #ff1c1c;
}

.yellow{
    background-color: #ffd830;
}

.light-gray{
    background-color: #f5f5f5;
}

/* fine colori */


header{
    line-height: 50px;
    vertical-align: middle;
    background-color: white;
    font-size: 14px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.header-left{
    width: 50%;
    display: inline-block;
}

.header-right{
    width: 49%;
    text-align: right;
    display: inline-block;
}

.header-left .logo{
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0px 10px;
}

nav{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

header a, .btn-blue a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.btn{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}

.btn-blue a{
    color: white;
}

.btn-blue{
    background-color: #0c68ff;
}

.header-right .btn{
    display: inline;
}

.jumbotron{
    height: 700px;
    background-color: rgb(180 208 231);
    padding-top: 10%;
}

.jumbotron h1{
    font-size: 50px;
    word-spacing: 5px;
}

.jumbotron p{
    font-size: 13px;
}

.fa-arrow-down{
    font-size: 40px;
}

.fatturazione p{
    display: inline-block;
    margin-right: 5%;
}

.col{
    height: 1000px;
    border: 1px solid black;
}

.col-body{
    width: 80%;
    margin: auto;
    font-size: 0.9rem;
}

.col-margin{
    margin: 0px 5%;
}

.col-head{
    text-align: center;
    padding: 5% 0px;
    border-bottom: 1px solid black;
}

.col-title h3, .col-title p{
    margin-bottom: 5%;
}

.col-title p:last-child{
    font-size: 0.7rem;
    color: #84909b;
}

.col-main p, .col-link p{
    margin-top: 10%;
}

.col-link .btn{
    display: inline-block;
}


.col-link .btn a{
    color: white;
    display: inline-block;

}

.col-link a{
    color: #0c68ff; 
}

.fa-check{
    color: #0c68ff;
    margin-right: 3%;
}

.col-list{
    margin-top: 20%;
}

.col-list li{
    list-style-type: none;
    margin-top: 10%;
}

.col-large{
    background-color: white;
    border: 1px solid black;
    padding-bottom: 3%;
    margin-bottom: 10%;
}

.col-large-head{
    text-align: center;
    padding: 2% 0px;
    border-bottom: 1px solid black;
}

.col-large p{
    margin-top: 4%;
}

.col-large h4{
    margin-top: 2%;
}

.col-large-main{
    position:relative;
}


.col-large-main .btn-blue{
    position: absolute;
    right: 0px;
    top: 0px;
}

.text-area{
    margin: auto;
    
}

.text-area p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.text-area .btn{
    border: 1px solid gray;
    background-color: white;
    display: inline;
    
}

.text-area .btn a{
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;     
}

.text-area .btn a:hover{
    text-decoration: underline;
}

.text-area a{
    color: #0c68ff;
}

.text-area h2{
    padding-bottom: 30px;
}

.content-box .float-left{
    height: 300px;
}

.square{
    height: 50%;
    width: 50%;   
    position: relative;
    float: left;
}

.square:hover{
    border: 1px solid white;
}

.square img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-area img{
    padding-top: 50px;
}

.banner .text-area{
    height: 250px;
}

.banner .text-area h1{
    font-size: 2rem;
    color: #61082b;
    position: relative;
    top: 85px;  
}

.banner .text-area .btn{
    display: inline-block;
    width: 300px;
    position: relative;
    left: 70%;   
}

.banner .text-area .btn a{
    color: black;   
}

.frequent-questions{
    margin-bottom: 10%;
}

.frequent-questions h1{
    margin-bottom: 5%;
}

.frequent-questions h4{
    padding: 3% 0px;
    border-top: 1px solid black;
    position: relative;
    
}

.frequent-questions:last-child{
    border-bottom: 1px solid black;
}

.frequent-questions .fa-angle-down{
    position: relative;
    left: 40%;
}

.frequent-questions p{
    margin-bottom: 2%;
    display: none;
}

h4:hover + p{
    display: block;
}

footer{
    background-color: black;
    color: white;
    height: 500px;
}

footer .container{
    padding-top: 7%;
}

footer ul li{
    list-style-type: none;
    margin-top: 3%;
}

footer .container:last-child{
    color: grey;
}
