*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.celarfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    margin: auto;
}

.width-30{
    width: 30%;
}

.width-40{
    width: 40%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;
}

.width-80{
    width: 80%;
}

.width-100{
    width: 100%;
}

.margin-top-5{
    margin-top: 5%;
}

.margin-top-10{
    margin-top: 10%;
}

.text-center{
    text-align: center;
}

header{
    line-height: 50px;
    vertical-align: middle;
    background-color: white;
    font-size: 14px;
    position: fixed;
}

.header-left{
    width: 50%;
    display: inline-block;
}

.header-right{
    width: 49%;
    text-align: right;
    display: inline-block;
}

.header-left .logo{
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0px 10px;
}

nav{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}

header a, .btn-blue a{
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
}

.btn-blue{
    background-color: #0c68ff;
    padding: 5px 10px;
}

.btn-blue a{
    color: white;
}

.jumbotron{
    height: 700px;
    background-color: rgb(180 208 231);
    padding-top: 10%;
}

.jumbotron h1{
    font-size: 50px;
    word-spacing: 5px;
}

.jumbotron p{
    font-size: 13px;
}

.fa-arrow-down{
    font-size: 40px;
}

.fatturazione p{
    display: inline-block;
    margin-right: 5%;
}

.col{
    width: 30%;
    height: 1000px;
    border: 1px solid black;
}

.col-margin{
    margin: 0px 5%;
}

.col-head{
    text-align: center;
    padding: 5% 0px;
    border-bottom: 1px solid black;
}

.col-title, .col-main, .col-link, .col-list{
    margin-left: 8%;
}

.col-title h3, .col-title p{
    margin-bottom: 5%;
}

.col-main p, .col-link p{
    margin-top: 10%;
}

.fa-check{
    color: #0c68ff;
}

.col-list li{
    list-style-type: none;
    margin-bottom: 10%;
}








